@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import "tailwindcss";



#root {
  height: 100vh;
  position: relative;
}

.font-press {
  font-family: "Bungee", sans-serif;
}



@theme {
  --animate-girar: girar 1s ease-in-out infinite;

  @keyframes girar {

    0%,
    100% {
      transform: translateY(1%)
    }

    50% {
      transform: translateY(-10%)
    }
  }
}




@theme {
  --animate-girarIconos: girarIconos 1s ease-in-out 0.01s;

  @keyframes girarIconos {

    0%,
    100% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(180deg);
    }
  }
}




@theme {
  --animate-giroX: giroX 1s ease-in-out 0.1s;

  @keyframes giroX {

    0%,
    100% {
      transform: scaleX(1);
    }

    50% {
      transform: scaleX(-1);
    }
  }
}

@theme {
  --animate-shake: shake 1s ease-in-out 0.1s;

  @keyframes shake {

    0%,
    100% {
      transform: translateX(0);
    }

    25% {
      transform: translateX(-3px);
    }

    75% {
      transform: translateX(3px);
    }
  }
}